body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.default-background {
    background-color: #e0f7fa;
}

.blue-background {
    background-color: #e0f7fa;
}

.yellow-background {
    background-color: #ffffcc;
}

.pink-background {
    background-color: #ffe6ff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    border-radius: 10px;
    padding: 20px;
}

.umbrella-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

#umbrella-container {
    position: relative;
    width: 80%;
    max-width: 500px;
}

#umbrella-image {
    width: 100%;
    height: auto;
}

#loader,
#upload-loader {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 50px;
    transform: translate(-50%, -50%);
    animation: rotate 2s linear infinite;
    z-index: 10;
    color: #0000FF;
}

#loader,
#upload-loader-Button {
    display: none;
    position: absolute;
    top: 49%;
    left: 7%;
    width: 25px;
    height: 50px;
    transform: translate(-50%, -50%);
    animation: rotate 2s linear infinite;
    z-index: 10;
    color: #f1f1f6;
}

#uploaded-logo {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    max-height: 80%;
    display: none;
}

.customizer {
    flex: 1;
    text-align: left;
    padding: 20px;
    max-width: 400px;
    margin-left: 20px;
}

.color-swatches {
    display: flex;
    justify-content: flex-start;
    gap: 45px;
    margin-bottom: 20px;
}

.color-swatch {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.upload-section {
    margin-top: 20px;
    position: relative;
}

#logo-upload {
    display: none;
}

.upload-button {
    display: inline-block;
    padding: 6px 70px;
    background-color: #00BFFF;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.upload-button.loading {
    display: none;
}

h1 {
    font-size: 2.3rem;
    margin-bottom: 34px;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 0px;
}

.upload-logo-button {
    filter: invert(1) sepia(1) saturate(5) hue-rotate(200deg);
    margin-left: -3rem;
}

#file-name {
    margin-top: 10px;
    font-size: 1rem;
    color: #333;
}

@keyframes rotate {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: stretch;
    }

    .customizer {
        margin-top: 20px;
        margin-left: 0;
    }

    .color-swatches {
        justify-content: center;
    }

    .upload-section {
        padding-left: 0;
    }
}

img {
    max-width: 100%;
    height: auto;
}

#Icons {
    padding-right: 3rem;
    display: inline-block;
}
.text h3{
margin-top: 2rem;
}



.text p{
font-size: 12px;
}